Write a Python program to convert kilometers to miles?

In [1]:
def km_to_miles(km):
    try:
        miles = km * 0.62137
        return miles
    except Exception as e:
        return e

In [4]:
print(km_to_miles(2))

1.24274

Write a Python program to convert Celsius to Fahrenheit?

In [10]:
def Cel_to_far(temp):
    try :
        Fahrenheit=(temp * 1.8) +32
        return str(Fahrenheit) + "F"
    except Exception as e:
        return e

In [11]:
print(Cel_to_far(36))

96.8F

Write a Python program to display calendar?

In [38]:
import calendar
def disp_Cal(year):
    try:
        if len(str(year))==4:
            return calendar.calendar(int(year))
        else:
            return "Valid year"
    except Exception as e:
        return e

In [39]:
print(disp_Cal(2022))

                                  2022

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6          1  2  3  4  5  6
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       7  8  9 10 11 12 13
10 11 12 13 14 15 16      14 15 16 17 18 19 20      14 15 16 17 18 19 20
17 18 19 20 21 22 23      21 22 23 24 25 26 27      21 22 23 24 25 26 27
24 25 26 27 28 29 30      28                        28 29 30 31
31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3                         1             1  2  3  4  5
 4  5  6  7  8  9 10       2  3  4  5  6  7  8       6  7  8  9 10 11 12
11 12 13 14 15 16 17       9 10 11 12 13 14 15      13 14 15 16 17 18 19
18 19 20 21 22 23 24      16 17 18 19 20 21 22      20 21 22 23 24 25 26
25 26 27 28 29 30         23 24 25 26 27 28 29      27 28 29 30
                          30 31

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7                1  2  3  4
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       5  6  7  8  9 10 11
11 12 13 14 15 16 17      15 16 17 18 19 20 21      12 13 14 15 16 17 18
18 19 20 21 22 23 24      22 23 24 25 26 27 28      19 20 21 22 23 24 25
25 26 27 28 29 30 31      29 30 31                  26 27 28 29 30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                1  2  3  4
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       5  6  7  8  9 10 11
10 11 12 13 14 15 16      14 15 16 17 18 19 20      12 13 14 15 16 17 18
17 18 19 20 21 22 23      21 22 23 24 25 26 27      19 20 21 22 23 24 25
24 25 26 27 28 29 30      28 29 30                  26 27 28 29 30 31
31

Write a Python program to solve quadratic equation?

In [120]:
def quadratic_Eq(a,b,c):
    try:
        if a==0:
            return "Invalid quadratic equation"
        
        else:
            discr=b**2-(4*a*c)
            
            if discr>0:
                return (-b-(discr**0.5))/ 2 *a,(-b+(discr**0.5))/2 *a
            elif discr==0:
                return (-b/2*a)
            else:
                
                return str(-b/2*a) +' + i'+str(abs(discr**0.5)) ,str(-b/2*a) +' - i'+str(abs(discr**0.5))
    except Exception as e:
        return e

In [123]:
print(quadratic_Eq(2,1,-6))

(-8.0, 6.0)

In [ ]:
Write a Python program to swap two variables without temp variable?

In [129]:
def swap_var(a,b):
    try:
        a= a+b
        b= a-b
        a= a-b
        return a,b
    except Exception as e:
        return e

In [131]:
swap_var(3,5)

(5, 3)